
  .title{
    margin-top: 22px;
    font-size: 25px;
    margin-bottom: 20px;
  }

  .btn-icon{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 20px;
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
    border: 5px solid rgb(206, 206, 206);
    border-radius: 50px;
  }

  .btn-icon img{
    height: 100%;
    width: 100%;
  }

  .js-result{
    font-size: 25px;
    margin-bottom: 40px;
    font-weight: bold;
  }

  .js-move{
    display: flex;
    flex-direction: row;
    height: 50px;
  }


  .reset-score-btn{
    background-color: aliceblue;
    color: black;
    border: none;
    padding: 10px 12px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
  }

  .js-score{
    margin-top: 20px;
    margin-bottom: 10px;
  }